* {
  outline: dotted 2.5px rgba(0, 255, 0, 0.658);
}

.clearfix {
  clear: both;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 960px;
  margin: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  /* z-index: 1; */
}

header>nav {
  width: 960px;
  margin: auto;
}

header>nav>img {
  margin: 10px 0 10px 0;
  display: inline-block;
}

.header_menu {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 760px;
}

.header_menu>ul> {
  list-style-type: none;
  display: inline;
}

.header_menu>ul>li {
  display: inline-block;
  font-size: 1.5em;
  width: 180px;
  line-height: 90px;
  text-align: center;
  box-sizing: border-box;
}

#content {
  margin-top: 120px;
}

.hero_image {
  margin-bottom: 30px;
}

.sub_banner {
  float: left;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sub_banner_right {
  float: left;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.section_content {
  float: left;
  width: 450px;
}

.scrollable {
  overflow-y: scroll;
  height: 320px;
}

.bottom_div {
  position: absolute;


}

a,
a:visited {
  color: #eee;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .75em 0
}

h3 {
  font-size: 1.17em;
  margin: .83em 0
}

h4 {
  margin: 1.12em 0
}

h5 {
  font-size: .83em;
  margin: 1.5em 0
}

h6 {
  font-size: .75em;
  margin: 1.67em 0
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

b {
  font-weight: bold;
}